aequitas==0.38.0
aniso8601==8.0.0
appnope==0.1.0
argon2-cffi==19.1.0
arrow==0.14.2
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.4
blinker==1.4
boto3==1.12.31
botocore==1.15.31
Brotli==1.0.7
camelot-py==0.7.3
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cookiecutter==1.6.0
cubes==1.1
cycler==0.10.0
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.0
defusedxml==0.6.0
descartes==1.1.0
distro==1.5.0
docutils==0.15.2
dominate==2.5.1
entrypoints==0.3
et-xmlfile==1.0.1
expressions==0.2.3
Fiona==1.8.6
Flask==1.1.2
Flask-Argon2==0.1.5.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.5.0
Flask-Cors==3.0.8
Flask-JWT==0.3.2
Flask-RESTful==0.3.8
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.3
fpdf==1.7.2
future==0.17.1
grako==3.99.9
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.18.1
idna==2.8
importlib-metadata==0.18
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itsdangerous==0.24
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.14.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lockfile==0.12.2
luigi==2.8.12
marbles==0.11.0
marbles.core==0.11.0
marbles.mixins==0.11.0
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==7.1.0
munch==2.3.2
mycalc==0.0.1
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.16.4
ohio==0.5.0
openpyxl==3.0.3
packaging==19.0
pandas==1.0.1
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pdfminer==20191125
pdfminer.six==20200402
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.2
pip-autoremove==0.9.1
plotly==4.8.1
pluggy==0.12.0
ply==3.11
postgres==2.2.2
poyo==0.4.2
pprint==0.1
prometheus-client==0.7.0
prompt-toolkit==2.0.9
protobuf==3.11.4
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
pycparser==2.19
pycryptodome==3.9.7
Pygments==2.4.2
pyparsing==2.4.0
pyproj==2.2.1
pyrsistent==0.15.2
PySide2==5.13.2
pytest==5.0.1
python-daemon==2.2.4
python-dateutil==2.8.0
python-http-client==3.2.1
pytz==2019.1
PyYAML==5.3.1
pyzmq==18.0.1
qtconsole==4.5.1
quiubas==1.0.1
raven==6.10.0
regalii==4.0.2
reportlab==3.5.42
requests==2.22.0
requests-mock==1.7.0
retrying==1.3.3
Rtree==0.8.3
s3transfer==0.3.3
scikit-learn==0.23.0
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
sendgrid==6.1.0
Shapely==1.6.4.post2
shiboken2==5.13.2
sinchsms==1.0.4
six==1.12.0
sklearn==0.0
sodapy==2.0.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.8
SQLAlchemy-Utils==0.36.5
statsmodels==0.10.1
tabula-py==2.1.0
tabulate==0.8.2
terminado==0.8.2
testpath==0.4.2
threadpoolctl==2.0.0
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.4.0
Understanding==0.2
urllib3==1.25.3
virtualenv==16.6.1
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.11.1
xgboost==1.0.2
xhtml2pdf==0.2.2
xlrd==1.2.0
zipp==0.5.2
